h1{
    color: rgb(255, 60, 92); /* text color */
    background-color: lightgreen; /* behind text */
    border: 2px solid purple; /* border = in */
    outline: 2px solid blue; /* OUTline = out */
}

p {
    color: orange;
}