body{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
}

.jobOrSchool_name{
    color: #132F53;
    font-weight: bold;
    font-size: x-large;
}

.high_school{
    font-size: larger;
    font-weight: 500;
    color: #132F53;
}

.position_name{
    font-size: smaller;
    color: darkgrey;
}

.timeframe{
    font-size: small;
    color: grey;
}